---
import Menu from "../../icons/Menu.astro";
---

<script>
  const body = document.querySelector("body");

  const headerUlLi = document.querySelectorAll(".header-ul-li");
  headerUlLi.forEach((li) => {
    li.addEventListener("click", () => {
      menuDeploy.classList.remove("active-menu");
      body.classList.remove("overflow");
    });
  });
  const menuDeploy = document.querySelector(".menu-deploy");
  const hamburgerMenu = document.querySelector(".hamburger-menu");
  hamburgerMenu.addEventListener("click", () => {
    menuDeploy.classList.toggle("active-menu");
    body.classList.toggle("overflow");
  });
  window.onscroll = function () {
    console.log(scrollY);
    const home = document.querySelector(".li-home");
    const projects = document.querySelector(".li-projects");
    const formation = document.querySelector(".li-formation");
    const about = document.querySelector(".li-about");
    const header = document.querySelector(".header-ul");

    if (scrollY >= 0 && scrollY < 30) {
      removeActiveClasses();
      header.classList.remove("active-background");

      home.classList.add("active");
    }

    if (scrollY >= 300 && scrollY < 800) {
      removeActiveClasses();
      about.classList.add("active");
      header.classList.add("active-background");
    }

    if (scrollY >= 1000 && scrollY < 5200) {
      removeActiveClasses();
      projects.classList.add("active");
    }

    if (scrollY >= 5200 && scrollY < 5500) {
      removeActiveClasses();
      formation.classList.add("active");
    }
  };

  function removeActiveClasses() {
    const elements = document.querySelectorAll(
      ".li-home, .li-projects, .li-formation, .li-about, .header-ul, .header-logo-name"
    );
    elements.forEach((element) => element.classList.remove("active"));
  }
</script>

<header class="header">
  <nav class="header-nav-desk">
    <ul class="header-ul">
      <li class="header-ul-li">
        <a class="li-home active" href="#">Inicio</a>
      </li>
      <li class="header-ul-li">
        <a class="li-about" href="#about-id">Sobre mí</a>
      </li>
      <li class="header-ul-li">
        <a class="li-projects" href="#works-id">Proyectos</a>
      </li>
      <li class="header-ul-li">
        <a class="li-formation" href="#academy-id">Formacion</a>
      </li>
    </ul>
  </nav>
  <nav class="header-nav-mobile">
    <span class="hamburger-menu">
      <Menu />
    </span>
    <ul class="menu-deploy">
      <li class="header-ul-li">
        <a class="header-ul-li-a-mobile" href="#">Inicio</a>
      </li>
      <li class="header-ul-li">
        <a class="header-ul-li-a-mobile" href="#works-id">Proyectos</a>
      </li>
      <li class="header-ul-li">
        <a class="header-ul-li-a-mobile" href="#academy-id">Formacion</a>
      </li>
      <li class="header-ul-li">
        <a class="header-ul-li-a-mobile" href="#about-id">Sobre mi</a>
      </li>
    </ul>
  </nav>

  <style>
    .overflow {
      overflow-y: hidden;
    }

    .header {
      width: 851px;
      height: 5rem;
      position: fixed;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      max-width: 95%;
      left: 50%;
      transform: translate(-50%);
      z-index: 1;
    }

    .header-logo-name {
      color: var(--secondary-color);

      padding: 1rem;
      border-radius: 999999px;
      text-decoration: none;
      transition: 0.5s all;
    }

    .hamburger-menu {
      z-index: 1;
    }

    .header-nav-desk {
      display: flex;
      justify-content: center;
    }
    .header-ul {
      display: flex;
      gap: 1rem;
      list-style-type: none;
      align-items: center;
      font-size: 15px;

      padding: 1rem 20px;
      border-radius: 999999px;
      transition: 0.5s all;
    }

    header li {
      cursor: pointer;
    }

    .li-home,
    .li-projects,
    .li-formation,
    .li-about {
      cursor: pointer;
      text-decoration: none;
      font-size: 17px;
      font-weight: bold;
      color: var(--secondary-color);
      transition: 0.5s all;
    }

    .li-home:hover,
    .li-projects:hover,
    .li-formation:hover,
    .li-about:hover {
      color: var(--primary-color);
    }

    .active {
      color: var(--primary-color);
    }

    .active-background {
      background-color: var(--background-body-color);
    }

    .header-nav-mobile {
      display: none;
    }

    .menu-deploy {
      position: fixed;
      top: 0;
      padding-top: 5rem;
      width: 100%;
      height: 100%;
      right: -103%;
      background-color: #000000;
      list-style-type: none;
      display: flex;
      gap: 1rem;
      flex-direction: column;
      transition: 0.5s ease-in-out;
    }

    .menu-deploy a {
      display: block;
      width: 100%;
      height: 100%;
      padding-left: 15px;
    }

    .active-menu {
      right: 0;
      transition: 0.5s ease-in-out;
    }

    .menu-deploy li {
      height: 4.5rem;
      width: 100%;
      line-height: 4.5rem;
      border: 2px solid var(--accent-color);
    }

    .header-ul-li-a-mobile {
      color: white;
      text-decoration: none;
    }

    @media screen and (max-width: 400px) {
      .header {
        width: 100vw;
        max-width: none;
        padding: 0 2rem;
        left: auto;
        transform: none;
        background-color: var(--background-body-color);
      }

      .header-nav-desk {
        display: none;
      }

      .header-nav-mobile {
        display: flex;
      }
    }
  </style>
</header>
