<footer>
  <p>
    Copyright © 2024 - Matias Pinho - Inspirado en portfolio de <a
      href="https://www.linkedin.com/in/midudev/"
      target="_blank">Midudev</a
    >
  </p>
</footer>

<style>
  footer a {
    color: #199afc;
    font-weight: bold;
  }
</style>
